@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
footer .explane {
  padding: 0 100px;
}
footer .footer-wrap {
  padding: 80px 0;
}
footer .footer-wrap--row {
  display: flex;
  gap: 200px;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-wrap--row--left {
  display: flex;
  flex-direction: column;
}
footer .footer-wrap--row--left a {
  margin-bottom: 30px;
}
footer .footer-wrap--row--left a img {
  width: 100%;
}
footer .footer-wrap--row--left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-wrap--row--left ul li span {
  color: #666666;
  font-size: 16px;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
footer .footer-wrap--row--left ul li span a {
  color: #666666;
  font-size: 16px;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  transition: 0.7s;
}
footer .footer-wrap--row--left ul li span a:hover {
  color: #ff5538;
}
footer .footer-wrap--row--right {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
footer .footer-wrap--row--right h4 {
  color: #ff5538;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
footer .footer-wrap--row--right ul {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-wrap--row--right ul li a {
  color: #666666;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  transition: 0.7s;
}
footer .footer-wrap--row--right ul li a:hover {
  transform: translate(10px 20px);
  color: #ff5538;
}
footer .footer-copyright--wrap {
  border-top: 1px solid #c6c6c9;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer .footer-copyright--wrap--boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-copyright--wrap--boxes--content p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #666666;
}
footer .footer-copyright--wrap--boxes--content p a {
  font-weight: 700;
  color: #ff5538;
}
footer .footer-copyright--wrap--boxes--links ul {
  display: flex;
  gap: 15px;
}
footer .footer-copyright--wrap--boxes--links ul li {
  display: inline-block;
}
footer .footer-copyright--wrap--boxes--links ul li a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background: #ff5538;
  color: #ffffff;
  transition: 0.7s;
}
footer .footer-copyright--wrap--boxes--links ul li a i:hover {
  color: #e5d2d2;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.7s;
}
header .container {
  background: transparent;
  border-bottom: 1px solid #b5b5b5;
}
header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 99;
}
header .header-wrap nav ul {
  display: flex;
  gap: 50px;
}
header .header-wrap nav ul .blog {
  position: relative;
}
header .header-wrap nav ul li a {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.7s;
}
header .header-wrap nav ul li a:hover {
  color: #FF5538;
}
header .header-wrap nav ul li .sub-menu {
  position: absolute;
  left: -50px;
  top: 110%;
  width: 150px;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0;
  border-radius: 5px;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all 0.3s linear;
  border-top: 3px solid #ff5538;
}
header .header-wrap nav ul li .sub-menu li {
  visibility: visible;
}
header .header-wrap nav ul li .sub-menu li a {
  color: #090d2f;
  padding: 5px 25px;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.7s;
}
header .header-wrap nav ul li .sub-menu li a:hover {
  color: #ff5538;
  transform: scale(1.1);
}
header .header-wrap nav ul li .visibil {
  opacity: 1;
  visibility: visible;
  top: 200%;
}
header .header-wrap--meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
header .header-wrap--meta--info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
header .header-wrap--meta--info i {
  font-size: 35px;
  color: #ff5538;
}
header .header-wrap--meta--info--contact {
  width: 100%;
}
header .header-wrap--meta--info--contact p {
  width: 100%;
  color: #f0f0f0;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
header .header-wrap--meta--info--contact a {
  display: inline-block;
  width: 100%;
  transition: 0.7s;
}
header .header-wrap--meta--info--contact a:hover {
  color: #ff5538;
}
header .header-wrap--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
}
header .header-wrap--icons .search-wrap {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
header .header-wrap--icons .search-wrap .search-inner i {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 44px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner i:hover {
  transform: rotate(90deg);
  color: #ff5538;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 50px;
  text-transform: uppercase;
  background: transparent;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 2px solid #898989;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input::-moz-placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input:-ms-input-placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input::placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input:hover {
  border-bottom: 2px solid #ff5538;
}
header .header-wrap--icons .dropdown-cart {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  max-width: 370px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0;
  transform: translateX(-50%) !important;
  left: -100px !important;
  top: 63px !important;
  width: 370px;
}
header .header-wrap--icons .dropdown-cart button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
}
header .header-wrap--icons .dropdown-cart button i {
  color: #000000;
  font-size: 30px;
  transition: 0.7s;
}
header .header-wrap--icons .dropdown-cart button i:hover {
  transform: rotate(90deg);
  color: #ff5538;
}
header .header-wrap--icons .dropdown-cart .cart-items {
  height: 280px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-image img {
  border-radius: 50%;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content {
  flex: 1;
  padding-right: 25px;
  padding-left: 20px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content h4 a {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content span {
  font-size: 14px;
  color: #ff5538;
  line-height: 1.75;
  display: block;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item button {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 5px;
}
header .header-wrap--icons .dropdown-cart .cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
header .header-wrap--icons .dropdown-cart .cart-total .label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #000000;
}
header .header-wrap--icons .dropdown-cart .cart-total .value {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #ff5538;
}
header .header-wrap--icons .dropdown-cart .cart-btns {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3 {
  height: 50px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  background: #ff5538;
  border: 2px solid #ff5538;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5538;
  z-index: -2;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:hover {
  color: #ff5538;
  transform: scale(1.05);
  border-radius: 10px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:hover:before {
  width: 100%;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2 {
  background: #000c29;
  border: 2px solid transparent;
  transition: all 0.3s linear;
  height: 50px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  border: 1px solid #000000;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -2;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:hover {
  color: #000000;
  transform: scale(1.05);
  border-radius: 10px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:hover:before {
  width: 100%;
}
header .header-wrap--icons .add {
  display: block;
}
header .header-wrap--icons--search {
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
header .header-wrap--icons--search i {
  width: 40px;
  height: 20px;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons--search i:hover {
  color: #ff5538;
}
header .header-wrap--icons--cart {
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .header-wrap--icons--cart i {
  width: 40px;
  height: 20px;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons--cart i:hover {
  color: #ff5538;
}
header .header-wrap--icons--bars {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.7s;
}
header .header-wrap--icons--bars i {
  width: 40px;
  height: 40px;
  color: #ce1616;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .offcanvas {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  width: 70%;
  visibility: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  outline: 0;
  background: #000c29;
}
header .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
header .offcanvas-logo a img {
  width: 130px;
}
header .close-btn {
  background: none;
  border: 0;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
header .close-btn i {
  font-size: 18px;
  color: #ffffff;
}
header .offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
header .offcanvas-menu {
  padding: 30px 0;
}
header .offcanvas-menu ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
header .offcanvas-menu ul li {
  position: relative;
}
header .offcanvas-menu ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  padding: 5px 0px;
  position: relative;
}
header .canvas {
  visibility: visible;
}

.sticky {
  background: #ffffff;
  border-bottom: 0;
  position: fixed;
  top: 0;
  -webkit-animation: sticky 1s;
          animation: sticky 1s;
  left: 0;
  width: 100%;
  z-index: 999;
}
.sticky .btn-2 {
  color: #fff;
}
.sticky .btn-3 {
  color: #fff;
}
.sticky a {
  color: #000000;
}
.sticky p {
  color: #898989 !important;
}
.sticky .header-wrap--icons--search {
  border: 1px solid #898989;
}
.sticky .header-wrap--icons--search i {
  color: #000000;
}
.sticky .header-wrap--icons--cart {
  border: 1px solid #898989;
}
.sticky .header-wrap--icons--cart i {
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

ul {
  list-style: none;
}

.container {
  padding: 15px 100px;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.start-section {
  width: 100%;
  z-index: -1;
}
.start-section .start-section--all {
  width: 100%;
  background-image: url(assets/images/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 135px;
}
.start-section .container {
  display: flex;
  justify-content: space-between;
}
.start-section--left {
  width: 100%;
  margin-top: 200px;
}
.start-section--left h3 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.start-section--left h2 {
  font-size: 72px;
  line-height: 92px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10px;
  width: 70%;
  transition-delay: 0.7s;
}
.start-section--left--info {
  background-color: #ff5538;
  width: 210px;
  border-radius: 5px;
  margin-top: 55px;
  color: white;
  border: 1px solid #ff5538;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.start-section--left--info:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5538;
  z-index: -2;
}
.start-section--left--info:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
.start-section--left--info:hover {
  transform: scale(1.05);
}
.start-section--left--info:hover a {
  color: #ff5538;
}
.start-section--left--info:hover:before {
  width: 100%;
}
.start-section--left--info a {
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  height: 60px;
  line-height: 56px;
  padding: 0px 55px;
}
.start-section--left--video {
  margin-top: 80px;
}
.start-section--left--video i {
  width: 70px;
  height: 70px;
  background: transparent;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.7s;
}
.start-section--left--video i:hover {
  color: #ff5538;
}
.start-section--left--video a {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.start-section--left--video a span {
  margin-left: 10px;
}
.start-section--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  margin-top: 200px;
  border-radius: 10px;
  padding: 45px;
}
.start-section--right h3 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #3c424c;
  text-align: center;
}
.start-section--right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.start-section--right form input {
  width: 100%;
  border-radius: 10px;
  height: 50px;
  padding-left: 15px;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  font-family: "Manrope", sans-serif;
}
.start-section--right form textarea {
  width: 100%;
  height: 90px;
  resize: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  background-color: #f0f0f0;
  border: none;
  font-family: "Manrope", sans-serif;
}
.start-section--right form button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ff5538;
  font-size: 16px;
  line-height: 46px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  border: 1px solid #ff5538;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.start-section--right form button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5538;
  z-index: -2;
}
.start-section--right form button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
.start-section--right form button:hover {
  color: #ff5538;
  transform: scale(1.05);
}
.start-section--right form button:hover:before {
  width: 100%;
}

.brand-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-section--all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  gap: 50px;
}
.brand-section--all h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #717171;
}
.brand-section--all h3 span {
  color: #ff5538;
}
.brand-section--all--pitcures {
  display: flex;
  gap: 100px;
}
.brand-section--all--pitcures img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.about-wrap {
  width: 100%;
  padding: 145px 0;
}
.about-wrap--top {
  width: 100%;
}
.about-wrap--top--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about-wrap--top--title span {
  background-color: rgb(255, 238, 235);
  width: 150px;
  height: 40px;
  color: #FF5538;
  font-size: 14px;
  line-height: 38px;
  border-radius: 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrap--top--title h2 {
  font-size: 48px;
  line-height: 72px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  width: 60%;
}
.about-wrap--bottom {
  width: 100%;
  margin-top: 70px;
  display: flex;
}
.about-wrap--bottom--left {
  display: flex;
  position: relative;
  width: 100%;
}
.about-wrap--bottom--left img {
  border-radius: 10px;
}
.about-wrap--bottom--left--first {
  position: relative;
  top: 75px;
}
.about-wrap--bottom--left--second {
  position: absolute;
  left: 245px;
  bottom: -110px;
  z-index: 1;
}
.about-wrap--bottom--left--third {
  position: absolute;
  top: 0;
  left: 400px;
}
.about-wrap--bottom--left--forth {
  position: relative;
  bottom: -350px;
  left: 147px;
  z-index: -1;
}
.about-wrap--bottom--right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
  padding-left: 180px;
}
.about-wrap--bottom--right--title {
  display: flex;
}
.about-wrap--bottom--right--title h2 {
  font-size: 180px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #ff5538;
}
.about-wrap--bottom--right--title span {
  font-size: 18px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #333333;
  text-align: start;
  width: 25%;
  margin: 10px 0 0 5px;
}
.about-wrap--bottom--right h3 {
  font-size: 24px;
  line-height: 36px;
  color: #333333;
  margin-top: 40px;
  width: 90%;
}
.about-wrap--bottom--right p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #4c4d56;
  margin-top: 35px;
  width: 90%;
}
.about-wrap--bottom--right--skill {
  width: 100%;
  margin-top: 30px;
  padding-left: 30px;
}
.about-wrap--bottom--right--skill--bottom {
  margin-top: 35px;
}
.about-wrap--bottom--right--skill--bottom--info {
  display: flex;
  justify-content: space-between;
}
.about-wrap--bottom--right--skill--bottom--info h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #120e1d;
}
.about-wrap--bottom--right--skill--bottom--bar {
  position: relative;
}
.about-wrap--bottom--right--skill--bottom--bar--below {
  width: 100%;
  position: relative;
  height: 10px;
  border: 1px solid #d7d7d7;
  margin-top: 5px;
}
.about-wrap--bottom--right--skill--bottom--bar--above {
  width: 90%;
  background-color: #FF5538;
  height: 6px;
  position: absolute;
  top: 2px;
  left: 5px;
  transform: scale(0);
  transform-origin: left;
  -webkit-animation: animate 1.5s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1.5s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@-webkit-keyframes animate {
  100% {
    transform: scale(1);
  }
}
@keyframes animate {
  100% {
    transform: scale(1);
  }
}
.about-wrap--bottom--right--skill--title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-wrap--bottom--right--skill--title h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #120e1d;
}
.about-wrap--bottom--right--skill--bar {
  position: relative;
  width: 100%;
}
.about-wrap--bottom--right--skill--bar--bottom {
  width: 100%;
  position: relative;
  height: 10px;
  border: 1px solid #d7d7d7;
  margin-top: 5px;
}
.about-wrap--bottom--right--skill--bar--top {
  width: 80%;
  background-color: #FF5538;
  height: 6px;
  position: absolute;
  top: 2px;
  left: 5px;
  transform: scale(0);
  transform-origin: left;
  -webkit-animation: animate 1.5s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1.5s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scale(1);
  }
}

.service-wrap {
  width: 100%;
  background-image: url(assets/images/serviceBackGroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 145px 0;
}
.service-wrap .container {
  padding: 15px 80px;
}
.service-wrap--title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}
.service-wrap--title span {
  background-color: rgb(255, 238, 235);
  width: 200px;
  height: 45px;
  color: #FF5538;
  font-size: 14px;
  line-height: 38px;
  border-radius: 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-wrap--title h2 {
  font-size: 48px;
  line-height: 72px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  width: 75%;
}
.service-wrap .swiper {
  width: 100%;
  height: 100%;
}
.service-wrap .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background: #ffffff;
  padding: 55px;
  border-radius: 10px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-wrap .swiper-slide--item--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.service-wrap .swiper-slide--item--content h3 {
  font-size: 22px;
  line-height: 30px;
  margin-top: 30px;
  text-align: start;
}
.service-wrap .swiper-slide--item--content h3 a {
  color: #231e32;
  transition: 0.7s;
}
.service-wrap .swiper-slide--item--content h3 a:hover {
  color: #ff5538;
}
.service-wrap .swiper-slide--item--content p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #4c4d56;
  margin-top: 10px;
  text-align: start;
}
.service-wrap .swiper-slide--item--content .more {
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ff5538;
  margin-top: 15px;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.7s;
}
.service-wrap .swiper-slide--item--content .more:hover {
  gap: 15px;
}
.service-wrap .swiper-slide img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.counter-wrap {
  width: 100%;
  background-image: url(assets/images/bgCounterImage.jpg);
  padding: 100px;
}
.counter-wrap .container {
  padding: 40px 10px;
}
.counter-wrap--boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter-wrap--boxes span {
  font-size: 50px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.counter-wrap--boxes p {
  font-size: 14px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.counter-wrap--boxes--first {
  width: 40%;
  display: flex;
  gap: 20px;
}
.counter-wrap--boxes--first--box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.counter-wrap--boxes--second {
  width: 40%;
  display: flex;
  gap: 20px;
}
.counter-wrap--boxes--second--box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.counter-wrap--boxes--third {
  width: 40%;
  display: flex;
  gap: 20px;
}
.counter-wrap--boxes--third--box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.counter-wrap--boxes--forth {
  width: 40%;
  display: flex;
  gap: 20px;
}
.counter-wrap--boxes--forth--box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.second-service {
  width: 100%;
  padding: 145px 10px;
}
.second-service--all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.second-service--all--title h2 {
  font-size: 42px;
  line-height: 60px;
}
.second-service--all--title h2 span {
  color: #ff5538;
}
.second-service--all--title ul {
  margin-top: 50px;
}
.second-service--all--title ul li {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.7s;
}
.second-service--all--title ul li:hover {
  color: #ff5538;
  gap: 25px;
}
.second-service--all--title ul li:hover a {
  color: #ff5538;
}
.second-service--all--title ul li a {
  font-size: 20px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
}
.second-service--all--links {
  display: flex;
  gap: 10px;
}
.second-service--all--links h3 {
  margin-top: 30px;
}
.second-service--all--links h3 a {
  color: #090d2f;
  font-size: 22px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.second-service--all--links P {
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #4c4d56;
  margin-top: 10px;
}
.second-service--all--links a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ff5538;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.7s;
}
.second-service--all--links a:hover {
  color: #ff5538;
  gap: 10px;
}
.second-service--all--links a {
  overflow: hidden;
}
.second-service--all--links a img {
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s ease;
}
.second-service--all--links a img:hover {
  transform: scale(1.2);
}

.testimonial-section {
  width: 100%;
  background-color: #FBFAFF;
  padding: 145px 0;
}
.testimonial-section .container {
  padding: 0 120px;
}
.testimonial-section--all {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-section--all--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.testimonial-section--all--title h3 {
  font-size: 14px;
  height: 40px;
  line-height: 38px;
  padding: 0 40px;
  border-radius: 35px;
  display: inline-block;
  background: #ffeeeb;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #ff5538;
  text-transform: uppercase;
}
.testimonial-section--all--title h2 {
  font-size: 48px;
  line-height: 72px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
}
.testimonial-section .swiper {
  width: 100%;
  height: 100%;
}
.testimonial-section .swiper-wrapper2 {
  transform: translate3d(0px, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.testimonial-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding: 60px 110px 60px 75px;
  border-radius: 10px;
  margin: 0 0 7px 0;
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-section .swiper-slide::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  background: #ff5538;
  transform: translateX(-50%);
  width: calc(100% - 45px);
  height: 3%;
  z-index: -1;
}
.testimonial-section .swiper-slide--left img {
  border-radius: 50%;
}
.testimonial-section .swiper-slide--right {
  margin-left: 50px;
}
.testimonial-section .swiper-slide--right p {
  font-size: 30px;
  line-height: 44px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  text-align: start;
  width: 75%;
}
.testimonial-section .swiper-slide--right--bottom {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.testimonial-section .swiper-slide--right--bottom--text h5 {
  font-size: 16px;
  line-height: 20px;
  color: #231e32;
  text-align: start;
}
.testimonial-section .swiper-slide--right--bottom--text span {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #ff5538;
  text-align: start;
}
.testimonial-section .swiper-slide--right--bottom--image {
  margin-left: 50px;
}
.testimonial-section .swiper-slide--right--bottom--image img {
  max-width: 100%;
}
.testimonial-section .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-section .swiper-pagination span {
  background-color: #ff5538;
}

.blog-wrap {
  width: 100%;
  padding: 120px 0;
}
.blog-wrap .container {
  padding: 0 100px;
}
.blog-wrap--boxes--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.blog-wrap--boxes--title h3 {
  font-size: 14px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #ff5538;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.blog-wrap--boxes--title h2 {
  font-size: 40px;
  line-height: 54px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
}
.blog-wrap--boxes--cards {
  width: 100%;
  display: flex;
  gap: 25px;
  padding-top: 35px;
}
.blog-wrap--boxes--cards--card {
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border-radius: 5px;
}
.blog-wrap--boxes--cards--card--content {
  padding: 40px;
}
.blog-wrap--boxes--cards--card--content--top {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.blog-wrap--boxes--cards--card--content--top i {
  color: #ff5538;
}
.blog-wrap--boxes--cards--card--content--top .person {
  transition: 0.7s;
}
.blog-wrap--boxes--cards--card--content--top .person:hover {
  color: #ff5538;
}
.blog-wrap--boxes--cards--card--content--top span a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #999999;
}
.blog-wrap--boxes--cards--card--content h3 {
  text-align: start;
  width: 80%;
}
.blog-wrap--boxes--cards--card--content h3 a {
  font-size: 22px;
  line-height: 30px;
  color: #333333;
  cursor: pointer;
  transition: 0.7s;
}
.blog-wrap--boxes--cards--card--content h3 a:hover {
  color: #ff5538;
}
.blog-wrap--boxes--cards--card--content h3 a:hover a {
  color: #ff5538;
}
.blog-wrap--boxes--cards--card--content P {
  font-size: 14px;
  line-height: 26px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #4c4d56;
  margin-top: 10px;
}
.blog-wrap--boxes--cards--card--images {
  overflow: hidden;
}
.blog-wrap--boxes--cards--card--images a img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.blog-wrap--boxes--cards--card--images a img:hover {
  transform: scale(1.2);
}
.blog-wrap--boxes--cards--card--images--date {
  position: absolute;
  top: 35px;
  left: 30px;
  background-color: #ff5538;
  width: 65px;
  height: 65px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-wrap--boxes--cards--card--images--date .special {
  color: #fff;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 12px;
}
.blog-wrap--boxes--cards--card--images--date .special span {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  display: block;
}
.blog-wrap--boxes--cards--card--btn {
  border-top: 1px solid #ebebeb;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
.blog-wrap--boxes--cards--card--btn:hover {
  color: #ff5538;
  padding: 15px 35px 15px 45px;
}
.blog-wrap--boxes--cards--card--btn:hover a {
  color: #ff5538;
}
.blog-wrap--boxes--cards--card--btn a {
  color: #ff5538;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.blog-wrap--boxes--cards--card--btn i {
  color: #ff5538;
}

.contact-wrap {
  background-image: url(assets/images/contactBGImage.jpg);
  width: 100%;
  padding: 145px 0;
}
.contact-wrap--cards {
  width: 100%;
}
.contact-wrap--cards--middle {
  display: flex;
  justify-content: space-around;
}
.contact-wrap--cards--middle--left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-wrap--cards--middle--left h3 {
  font-size: 40px;
  line-height: 54px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
.contact-wrap--cards--middle--left ul .special {
  border-top: 0;
}
.contact-wrap--cards--middle--left ul li {
  border-top: 1px solid #ffffff;
  margin-top: 15px;
  padding-top: 15px;
}
.contact-wrap--cards--middle--left ul li h4 {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.contact-wrap--cards--middle--left ul li p {
  font-size: 15px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.contact-wrap--cards--middle--right {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 60px;
}
.contact-wrap--cards--middle--right--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.contact-wrap--cards--middle--right--title span {
  font-size: 14px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff5538;
}
.contact-wrap--cards--middle--right--title h3 {
  font-size: 42px;
  line-height: 54px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #333333;
}
.contact-wrap--cards--middle--right--form--top {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.contact-wrap--cards--middle--right--form--top input {
  width: 50%;
  height: 55px;
  line-height: 55px;
  border: 1px solid #ebebeb;
  padding-left: 15px;
  border-radius: 5px;
}
.contact-wrap--cards--middle--right--form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-wrap--cards--middle--right--form form input {
  width: 100%;
  height: 55px;
  line-height: 55px;
  border: 1px solid #ebebeb;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
}
.contact-wrap--cards--middle--right--form form textarea {
  height: 135px;
  border: 1px solid #ebebeb;
  padding: 15px;
  resize: none;
  border-radius: 5px;
  margin-top: 25px;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.contact-wrap--cards--middle--right--form form button {
  font-size: 16px;
  width: 100%;
  height: 55px;
  line-height: 50px;
  background: #ff5538;
  border: 2px solid #ff5538;
  color: #ffffff;
  margin: 25px 0;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.contact-wrap--cards--middle--right--form form button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5538;
  z-index: -2;
}
.contact-wrap--cards--middle--right--form form button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
.contact-wrap--cards--middle--right--form form button:hover {
  color: #ff5538;
  transform: scale(1.05);
  border-radius: 15px;
}
.contact-wrap--cards--middle--right--form form button:hover:before {
  width: 100%;
}

#progress {
  background-color: #ff5538;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
  place-items: center;
  opacity: 0.7;
}
#progress #progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: #ff5538;
}

@media (max-width: 1100px) {
  header .container {
    padding: 15px 20px;
  }
  header .container .header-wrap nav ul {
    gap: 10px;
  }
  .brand-section--all--pitcures {
    gap: 25px;
  }
  .about-wrap .container {
    padding: 15px 5px;
  }
  .about-wrap--bottom--left--second {
    left: 60px;
    bottom: -30px;
  }
  .about-wrap--bottom--left--third {
    left: 230px;
  }
  .about-wrap--bottom--left--forth {
    left: -35px;
    bottom: -355px;
  }
  .about-wrap--bottom--right {
    padding: 0;
  }
  .about-wrap--bottom--right--title h2 {
    font-size: 130px;
  }
  .about-wrap--bottom--right--title span {
    width: 40%;
  }
  .about-wrap--top--title {
    margin-left: 0;
  }
  .about-wrap--top--title h2 {
    width: 100%;
  }
  .counter-wrap {
    padding: 20px;
  }
  .counter-wrap .container {
    padding: 40px 80px;
  }
  .counter-wrap--boxes {
    flex-wrap: wrap;
    gap: 30px;
  }
  .second-service {
    padding: 145px 50px;
  }
  .second-service--all {
    flex-direction: column;
  }
  .second-service--all--title {
    width: 100%;
  }
  .second-service--all--links--left img {
    width: 100%;
  }
  .testimonial-section .container {
    padding: 0 80px;
  }
  .testimonial-section .swiper-slide {
    padding: 40px 50px;
  }
  .testimonial-section .swiper-slide--right p {
    font-size: 24px;
    width: 100%;
  }
  .testimonial-section .swiper-slide--right--bottom {
    gap: 0;
  }
  .testimonial-section .swiper-slide--right--bottom--text span {
    font-size: 12px;
  }
  .blog-wrap--boxes--cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog-wrap--boxes--cards--card {
    width: 45%;
  }
  .contact-wrap {
    padding: 145px 50px;
  }
  .contact-wrap--cards--middle--left ul li {
    width: 80%;
  }
  footer .explane {
    padding: 0 50px;
  }
  footer .footer-wrap--row {
    gap: 80px;
  }
}
@media (max-width: 768px) {
  header .container {
    padding: 15px 20px;
  }
  header .container .header-wrap nav {
    display: none;
  }
  header .container .header-wrap--icons--bars {
    display: block;
  }
  header .container .header-wrap--meta--info {
    display: none;
  }
  .start-section .container {
    display: flex;
    flex-direction: column;
  }
  .start-section--right {
    width: 100%;
  }
  .start-section--left h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .brand-section--all--pitcures {
    gap: 40px;
  }
  .brand-section--all--pitcures--forth {
    display: none;
  }
  .brand-section--all--pitcures--fifth {
    display: none;
  }
  .about-wrap {
    padding: 0;
  }
  .about-wrap .container {
    padding: 15px 10px;
  }
  .about-wrap--top--title h2 {
    font-size: 36px;
    line-height: 48px;
  }
  .about-wrap--bottom {
    flex-direction: column;
  }
  .about-wrap--bottom--left {
    justify-content: center;
    align-items: center;
  }
  .about-wrap--bottom--left--first {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-wrap--bottom--left--first img {
    width: 100%;
  }
  .about-wrap--bottom--left--second {
    display: none;
  }
  .about-wrap--bottom--left--third {
    display: none;
  }
  .about-wrap--bottom--left--forth {
    display: none;
  }
  .about-wrap--bottom--right {
    align-items: flex-start;
    margin-top: 200px;
  }
  .about-wrap--bottom--right--title {
    margin-left: 0;
  }
  .about-wrap--bottom--right h3 {
    font-size: 36px;
  }
  .about-wrap--bottom--right p {
    font-size: 23px;
  }
  .about-wrap--bottom--right--skill {
    padding-left: 0;
  }
  .service-wrap--title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .counter-wrap .container {
    padding: 40px 0;
  }
  .counter-wrap--boxes--first {
    width: 100%;
  }
  .counter-wrap--boxes--second {
    width: 100%;
  }
  .counter-wrap--boxes--third {
    width: 100%;
  }
  .counter-wrap--boxes--forth {
    width: 100%;
  }
  .second-service {
    padding: 145px 0px;
  }
  .second-service .container {
    padding: 0 10px;
  }
  .second-service--all--title h2 {
    font-size: 28px;
  }
  .second-service--all--links--left p {
    width: 100%;
  }
  .testimonial-section h2 {
    font-size: 36px;
  }
  .testimonial-section .container {
    padding: 0 10px;
  }
  .testimonial-section .swiper-slide {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-section .swiper-slide--right p {
    font-size: 18px;
    line-height: 36px;
  }
  .testimonial-section .swiper-slide--right--bottom {
    margin-bottom: 15px;
  }
  .testimonial-section .swiper-slide--right--bottom--text span {
    font-size: 10px;
  }
  .blog-wrap--boxes--cards--card {
    width: 100%;
  }
  .contact-wrap {
    padding: 50px 50px;
  }
  .contact-wrap--cards--middle {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  footer .container {
    padding: 15px 50px;
  }
  footer .footer-wrap--row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  footer .footer-wrap--row--left {
    width: 35%;
  }
  footer .footer-wrap--row--right {
    width: 35%;
  }
  footer .footer-copyright--wrap--boxes {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  header .container {
    padding: 15px 5px;
  }
  header .container .header-wrap--icons--bars i {
    width: 25px;
  }
  header .container .header-wrap figure img {
    width: 150px;
  }
  .start-section .container {
    padding: 15px 10px;
  }
  .start-section--right {
    margin-top: 100px;
    padding: 20px;
  }
  .start-section--left h2 {
    font-size: 35px;
  }
  .brand-section--all h3 {
    font-size: 14px;
  }
  .brand-section--all--pitcures {
    gap: 0;
  }
  .brand-section--all--pitcures--third {
    display: none;
  }
  .brand-section--all--pitcures--second {
    display: none;
  }
  .about-wrap--top--title h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .about-wrap--top--title span {
    width: 100%;
    font-size: 14px;
  }
  .about-wrap--bottom--right--title h2 {
    font-size: 130px;
    margin-top: 25px;
  }
  .about-wrap--bottom--right h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
  }
  .about-wrap--bottom--right p {
    text-align: center;
    font-size: 18px;
  }
  .service-wrap .container {
    padding: 15px 10px;
  }
  .service-wrap--title h2 {
    font-size: 16px;
    line-height: 25px;
    width: 100%;
  }
  .service-wrap .swiper-slide {
    padding: 20px;
  }
  .second-service--all--links {
    flex-direction: column;
  }
  .testimonial-section h2 {
    font-size: 28px;
  }
  .testimonial-section .swiper-slide--right {
    margin-left: 0;
  }
  .testimonial-section .swiper-slide--right p {
    text-align: center;
    font-size: 16px;
  }
  .testimonial-section .swiper-slide--right--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog-wrap .container {
    padding: 0 10px;
  }
  .blog-wrap--boxes--title h2 {
    text-align: center;
    font-size: 28px;
  }
  .blog-wrap--boxes--cards--card--content--top span a {
    font-size: 12px;
  }
  .blog-wrap--boxes--cards--card--content h3 a {
    font-size: 18px;
  }
  .blog-wrap--boxes--cards--card--content p {
    font-size: 14px;
  }
  .contact-wrap {
    padding: 50px 10px;
  }
  .contact-wrap--cards--middle--left h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .contact-wrap--cards--middle--right {
    padding: 40px;
  }
  .contact-wrap--cards--middle--right--title h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .contact-wrap--cards--middle--right--form--top {
    flex-wrap: wrap;
  }
  footer .explane {
    padding: 0 10px;
  }
  footer .explane .footer-wrap--row {
    gap: 5px;
  }
  footer .explane .footer-wrap--row--left {
    width: 100%;
  }
  footer .explane .footer-wrap--row--left a img {
    width: 150px;
  }
  footer .explane .footer-wrap--row--right {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */