@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather+Sans:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

.container {
  padding: 0 120px;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
}
header .container {
  background: transparent;
  border-bottom: 1px solid #b5b5b5;
}
header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 99;
}
header .header-wrap nav ul {
  display: flex;
  gap: 50px;
}
header .header-wrap nav ul .blog {
  position: relative;
}
header .header-wrap nav ul li a {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #090d2f;
  transition: 0.7s;
}
header .header-wrap nav ul li a:hover {
  color: #005de0;
}
header .header-wrap nav ul li .sub-menu {
  position: absolute;
  left: -50px;
  top: 110%;
  width: 150px;
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0;
  border-radius: 5px;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: all 0.3s linear;
  border-top: 3px solid #005de0;
}
header .header-wrap nav ul li .sub-menu li {
  visibility: visible;
}
header .header-wrap nav ul li .sub-menu li a {
  color: #090d2f;
  padding: 5px 25px;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.7s;
}
header .header-wrap nav ul li .sub-menu li a:hover {
  color: #005de0;
  transform: scale(1.1);
}
header .header-wrap nav ul li .visibil {
  opacity: 1;
  visibility: visible;
  top: 200%;
}
header .header-wrap--meta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
header .header-wrap--meta--info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
header .header-wrap--meta--info i {
  font-size: 35px;
  color: #005de0;
}
header .header-wrap--meta--info--contact {
  width: 100%;
}
header .header-wrap--meta--info--contact p {
  width: 100%;
  color: #ababab;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}
header .header-wrap--meta--info--contact a {
  display: inline-block;
  width: 100%;
  color: #090d2f;
  font-size: 16px;
  font-weight: bold;
  transition: 0.7s;
}
header .header-wrap--meta--info--contact a:hover {
  color: #005de0;
}
header .header-wrap--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
}
header .header-wrap--icons .search-wrap {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
header .header-wrap--icons .search-wrap .search-inner i {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 44px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner i:hover {
  transform: rotate(90deg);
  color: #005de0;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 50px;
  text-transform: uppercase;
  background: transparent;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 2px solid #898989;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
  transition: 0.7s;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input::-moz-placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input:-ms-input-placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input::placeholder {
  color: #ffffff;
}
header .header-wrap--icons .search-wrap .search-inner .search-cell form .search-field-holder input:hover {
  border-bottom: 2px solid #005de0;
}
header .header-wrap--icons .dropdown-cart {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  max-width: 370px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0;
  transform: translateX(-50%) !important;
  left: -100px !important;
  top: 63px !important;
  width: 370px;
}
header .header-wrap--icons .dropdown-cart button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
}
header .header-wrap--icons .dropdown-cart button i {
  color: #000000;
  font-size: 30px;
  transition: 0.7s;
}
header .header-wrap--icons .dropdown-cart button i:hover {
  transform: rotate(90deg);
  color: #005de0;
}
header .header-wrap--icons .dropdown-cart .cart-items {
  height: 280px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-image img {
  border-radius: 50%;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content {
  flex: 1;
  padding-right: 25px;
  padding-left: 20px;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content h4 a {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item .item-content span {
  font-size: 14px;
  color: #005de0;
  line-height: 1.75;
  display: block;
}
header .header-wrap--icons .dropdown-cart .cart-items .single-cart-item button {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 5px;
}
header .header-wrap--icons .dropdown-cart .cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
header .header-wrap--icons .dropdown-cart .cart-total .label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #000000;
}
header .header-wrap--icons .dropdown-cart .cart-total .value {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  color: #005de0;
}
header .header-wrap--icons .dropdown-cart .cart-btns {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3 {
  height: 50px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  background: #005de0;
  border: 2px solid #005de0;
  color: #ffffff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005de0;
  z-index: -2;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:hover {
  color: #005de0;
  transform: scale(1.05);
  border-radius: 10px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-3:hover:before {
  width: 100%;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2 {
  background: #000c29;
  border: 2px solid transparent;
  transition: all 0.3s linear;
  height: 50px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  border: 1px solid #000000;
  color: #ffffff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -2;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:hover {
  color: #000000;
  transform: scale(1.05);
  border-radius: 10px;
}
header .header-wrap--icons .dropdown-cart .cart-btns .btn-2:hover:before {
  width: 100%;
}
header .header-wrap--icons .add {
  display: block;
}
header .header-wrap--icons--search {
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-wrap--icons--search i {
  width: 40px;
  height: 20px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons--search i:hover {
  color: #005de0;
}
header .header-wrap--icons--cart {
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .header-wrap--icons--cart i {
  width: 40px;
  height: 20px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
header .header-wrap--icons--cart i:hover {
  color: #005de0;
}
header .header-wrap--icons--bars {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
header .header-wrap--icons--bars i {
  width: 40px;
  height: 40px;
  color: #005de0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .offcanvas {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  width: 70%;
  visibility: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  outline: 0;
  background: #000c29;
}
header .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
header .offcanvas-logo a img {
  width: 130px;
}
header .close-btn {
  background: none;
  border: 0;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
header .close-btn i {
  font-size: 18px;
  color: #ffffff;
  transition: 0.7s;
}
header .offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
header .offcanvas-menu {
  padding: 30px 0;
}
header .offcanvas-menu ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
header .offcanvas-menu ul li {
  position: relative;
}
header .offcanvas-menu ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  padding: 5px 0px;
  position: relative;
}
header .canvas {
  visibility: visible;
}

.page-banner {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/aboutPageImages/page-banner.jpg);
  padding-top: 80px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.page-banner--title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 190px;
}
.page-banner--title h2 {
  font-size: 60px;
  line-height: 1.25;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.page-banner--title h2::before {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: linear-gradient(-48deg, #54d6eb 0%, #035cdd 100%);
  opacity: 0.9;
  position: absolute;
  left: -25px;
  top: -20px;
  z-index: -1;
}
.page-banner--title ul {
  display: flex;
  margin-top: 10px;
}
.page-banner--title ul li {
  color: #ffffff;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.page-banner--title ul li a {
  color: white;
}
.page-banner--circle {
  width: 545px;
  height: 545px;
  border: 3px solid #005de0;
  opacity: 0.9;
  border-radius: 50%;
  position: absolute;
  left: -10%;
  bottom: -35%;
}
.page-banner--circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(-48deg, #54d6eb 0%, #035cdd 100%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0.8);
}

.blog-section {
  padding: 145px 0;
}
.blog-section .container {
  padding: 0 100px;
}
.blog-section--wrap {
  margin-top: -30px;
}
.blog-section--wrap--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  padding: 30px 0;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card {
  flex: 0 0 auto;
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn {
  border-top: 1px solid #ebebeb;
  padding: 15px 40px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure a {
  display: block;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure a img {
  width: 100%;
  transition: all 0.3s linear;
  transition: 0.7s;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure a img:hover {
  transform: scale(1.2);
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure .top-meta {
  position: absolute;
  top: 35px;
  left: 30px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure .top-meta .date {
  width: 65px;
  height: 65px;
  background-image: linear-gradient(120deg, #54d6eb 0%, #035cdd 100%);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  text-align: center;
  line-height: 12px;
  padding: 10px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card figure .top-meta .date span {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
  display: block;
  font-family: "Manrope", sans-serif;
  text-align: center;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content {
  padding: 40px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content--meta span {
  font-size: 14px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #999999;
  margin-right: 15px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content--meta span a {
  font-size: 14px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #999999;
  margin-right: 15px;
  transition: 0.7s;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content--meta span a:hover {
  color: #005de0;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content--meta span i {
  color: #005de0;
  margin-right: 5px;
  font-size: 14px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content h3 {
  padding-right: 15px;
  margin-top: 15px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content h3 a {
  font-size: 22px;
  line-height: 30px;
  color: #333333;
  transition: 0.7s;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content h3 a:hover {
  color: #005de0;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--content p {
  font-size: 14px;
  line-height: 26px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #4c4d56;
  margin-top: 10px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn {
  border-top: 1px solid #ebebeb;
  padding: 15px 40px;
  transition: 0.7s;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn:hover {
  color: #005de0;
  padding: 15px 35px 15px 45px;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn:hover a {
  color: #005de0;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #005de0;
  transition: all 0.3s linear;
}
.blog-section--wrap--cards .blog-section-wrap--cards--card--btn a i {
  font-size: 14px;
}

.cta-section {
  width: 100%;
}
.cta-section--wrap {
  background-image: url(/assets/images/addBgImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  padding: 75px 125px 80px 110px;
  margin-bottom: -110px;
  position: relative;
  z-index: 5;
}
.cta-section--wrap--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-section--wrap--center--left {
  width: 50%;
}
.cta-section--wrap--center--left h2 {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
.cta-section--wrap--center--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}
.cta-section--wrap--center--right span {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.cta-section--wrap--center--right a {
  padding: 0 35px;
  margin-left: 20px;
  display: inline-block;
  overflow: hidden;
  background-color: #005de0;
  border-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  height: 60px;
  line-height: 56px;
  border: 2px solid #005de0;
  border-style: solid;
  box-shadow: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.cta-section--wrap--center--right a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005de0;
  z-index: -2;
}
.cta-section--wrap--center--right a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: all 0.3s;
  z-index: -1;
}
.cta-section--wrap--center--right a:hover {
  color: #005de0;
  transform: scale(1.05);
}
.cta-section--wrap--center--right a:hover:before {
  width: 100%;
}

footer {
  background-image: url(/assets/images/aboutPageImages/footerBgImage.jpg);
  padding-top: 190px;
}
footer .explane {
  padding: 0 100px;
}
footer .footer-wrap {
  padding: 80px 0;
}
footer .footer-wrap--row {
  display: flex;
  gap: 200px;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-wrap--row--left {
  display: flex;
  flex-direction: column;
}
footer .footer-wrap--row--left a {
  margin-bottom: 30px;
}
footer .footer-wrap--row--left a img {
  width: 100%;
}
footer .footer-wrap--row--left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-wrap--row--left ul li span {
  color: #c4c5c7;
  font-size: 16px;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
footer .footer-wrap--row--left ul li span a {
  color: #c4c5c7;
  font-size: 16px;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  transition: 0.7s;
}
footer .footer-wrap--row--left ul li span a:hover {
  color: #005de0;
}
footer .footer-wrap--row--right {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
footer .footer-wrap--row--right h4 {
  color: #fff;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
footer .footer-wrap--row--right ul {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer-wrap--row--right ul li a {
  color: #c4c5c7;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  transition: 0.7s;
}
footer .footer-wrap--row--right ul li a:hover {
  color: #005de0;
}
footer .footer-copyright--wrap {
  border-top: 1px solid #1a253f;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer .footer-copyright--wrap--boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-copyright--wrap--boxes--content p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #c4c5c7;
}
footer .footer-copyright--wrap--boxes--content p a {
  font-weight: 700;
  color: #fff;
}
footer .footer-copyright--wrap--boxes--links ul {
  display: flex;
  gap: 15px;
}
footer .footer-copyright--wrap--boxes--links ul li {
  display: inline-block;
}
footer .footer-copyright--wrap--boxes--links ul li a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background: #15203B;
  color: #ffffff;
  transition: 0.7s;
}
footer .footer-copyright--wrap--boxes--links ul li a i:hover {
  color: #005de0;
}

#progress {
  background-color: #005de0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
  place-items: center;
  opacity: 0.7;
  z-index: 999999;
}
#progress #progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: #005de0;
}

@media (max-width: 1100px) {
  header .container {
    padding: 15px 20px;
  }
  header .container .header-wrap nav ul {
    gap: 10px;
  }
  .page-banner {
    padding-top: 0px;
  }
  .page-banner--title {
    padding-bottom: 50px;
  }
  .page-banner--circle {
    width: 445px;
    height: 445px;
    bottom: -30%;
  }
  .blog-section .container {
    padding: 0 80px;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card {
    width: 48%;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card--content {
    padding: 10px;
  }
  .cta-section--wrap {
    padding: 20px 30px;
  }
  .cta-section--wrap--center--left h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .cta-section--wrap--center--right span {
    font-size: 18px;
  }
  .cta-section--wrap--center--right a {
    font-size: 16px;
  }
  footer .explane {
    padding: 0 50px;
  }
  footer .footer-wrap--row {
    gap: 80px;
  }
}
@media (max-width: 768px) {
  header .container {
    padding: 15px 20px;
  }
  header .container .header-wrap nav {
    display: none;
  }
  header .container .header-wrap--icons--bars {
    display: block;
  }
  header .container .header-wrap--meta--info {
    display: none;
  }
  .page-banner--circle {
    display: none;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card {
    width: 100%;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card--btn {
    padding: 15px 10px;
  }
  .cta-section .container {
    padding: 0 80px;
  }
  .cta-section--wrap {
    padding: 80px 55px;
  }
  .cta-section--wrap--center {
    flex-direction: column;
    gap: 20px;
  }
  .cta-section--wrap--center--left {
    width: 100%;
    text-align: center;
  }
  .cta-section--wrap--center--right {
    text-align: center;
  }
  .cta-section--wrap--center--right a {
    padding: 0 55px;
    margin-left: 0px;
  }
  footer .container {
    padding: 15px 50px;
  }
  footer .footer-wrap--row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  footer .footer-wrap--row--left {
    width: 35%;
  }
  footer .footer-wrap--row--right {
    width: 35%;
  }
  footer .footer-copyright--wrap--boxes {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  header .container {
    padding: 15px 5px;
  }
  header .container .header-wrap--icons--bars i {
    width: 25px;
  }
  header .container .header-wrap figure img {
    width: 150px;
  }
  .page-banner--title h2 {
    font-size: 30px;
  }
  .page-banner--title h2::before {
    width: 60px;
    height: 60px;
  }
  .blog-section .container {
    padding: 0 10px;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card {
    width: 100%;
  }
  .blog-section--wrap--cards .blog-section-wrap--cards--card .blog-section-wrap--cards--card--content {
    padding: 4px;
  }
  .cta-section .container {
    padding: 0 10px;
  }
  .cta-section--wrap--center--right a {
    padding: 0 5px;
  }
  footer .explane {
    padding: 0 10px;
  }
  footer .explane .footer-wrap--row {
    gap: 5px;
  }
  footer .explane .footer-wrap--row--left {
    width: 100%;
  }
  footer .explane .footer-wrap--row--left a img {
    width: 150px;
  }
  footer .explane .footer-wrap--row--right {
    width: 100%;
  }
}/*# sourceMappingURL=blog.css.map */